.ccls-cache/
*~
build/
.cquery_cached_index/
\#*
.vs/*
.vs/
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/kmint/v16/*
.vs/kmint/v16/.suo
.vs/kmint/v16/Browse.VC.db
.vs/kmint/v16/Browse.VC.db-shm
.vs/kmint/v16/Browse.VC.db-wal
.vs/kmint/v16/Browse.VC.opendb
.vs/kmint/v16/ipch/AutoPCH/2f8091b9904fc409/PIG.ipch
.vs/kmint/v16/ipch/AutoPCH/bf5a806f6942324b/NODE_ALGORITHM.ipch
.vs/kmint/v16/ipch/AutoPCH/d0123b4628d9e530/SHARK.ipch
.vs/kmint/v16/Browse.VC.db-shm
.vs/kmint/v16/Browse.VC.db-wal
.vs/kmint/v16/Browse.VC.db-shm
.vscode/settings.json
